@import url(https://fonts.googleapis.com/css?family=Barlow:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Barlow";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Barlow";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.no-webp .page__main{
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.78)), to(rgba(0, 0, 0, 0.87))), url("../img/bg.png") 50%/cover no-repeat; }

.no-webp .page__main{
  background: -o-linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.87)), url("../img/bg.png") 50%/cover no-repeat; }

.no-webp .page__main{
  background: linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.87)), url("../img/bg.png") 50%/cover no-repeat; }

.no-webp .page__bottom{
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.78)), to(rgba(0, 0, 0, 0.87))), url("../img/bottom-bg.png") 50%/cover no-repeat; }

.no-webp .page__bottom{
  background: -o-linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.87)), url("../img/bottom-bg.png") 50%/cover no-repeat; }

.no-webp .page__bottom{
  background: linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.87)), url("../img/bottom-bg.png") 50%/cover no-repeat; }

.membership-link {
  display: inline-block;
  background-color: #E11B19;
  padding: 1.25rem 3.4375rem 1.25rem 1.25rem;
  border-radius: 2.5rem;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.membership-link::after {
  content: url("data:image/svg+xml,%3Csvg width=%277%27 height=%2710%27 viewBox=%270 0 7 10%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M1.9225 9.75583L6.67834 5L1.9225 0.244167L0.744171 1.4225L4.32167 5L0.744171 8.5775L1.9225 9.75583Z%27 fill=%27white%27/%3E%3C/svg%3E");
  position: absolute;
  right: 1.625rem;
}

.label_big {
  font-weight: 700;
  line-height: 1.1111111111;
  text-transform: uppercase;
}

.title_big {
  font-weight: 700;
  line-height: 1.171875;
  text-transform: uppercase;
}

.text_big {
  line-height: 1.25;
}

.label {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
  text-transform: uppercase;
}

.title {
  font-weight: 700;
  line-height: 1.1111111111;
  text-transform: uppercase;
}

.text {
  line-height: 1.3888888889;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  overflow: hidden;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
}

.footer__social-link svg {
  width: 1.875rem;
  height: 1.875rem;
  fill: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.wrapper {
  background-color: #131212;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.main__logo {
  padding-top: 1.875rem;
}

.main__content {
  max-width: 46.625rem;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.main__label:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.main__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.benefits__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15.9375rem, 1fr));
  -webkit-column-gap: 1.75rem;
     -moz-column-gap: 1.75rem;
          column-gap: 1.75rem;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.benefits__title {
  display: inline-block;
  font-weight: 700;
  line-height: 1.1111111111;
  text-transform: uppercase;
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item img {
  width: 2.5rem;
  height: 2.5rem;
}

.benefits__text {
  margin-left: 1.25rem;
}

.benefits__text h3 {
  font-weight: 700;
  line-height: 1.1111111111;
  text-transform: uppercase;
}

.benefits__text p {
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

.facilities {
  background-color: #1F2327;
}

.facilities__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7.6875rem;
}

.facilities__content {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.facilities__image-ibg {
  max-width: 100%;
  height: auto;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.facilities__label:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.facilities__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.facilities__item {
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

.facilities__item::before {
  content: url("data:image/svg+xml,%3Csvg width=%2720%27 height=%2715%27 viewBox=%270 0 20 15%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M0.25 7.32101L7.52 13.812C7.663 13.939 7.841 14.002 8.019 14.002C8.225 14.002 8.429 13.918 8.578 13.753L19.808 1.25201C19.937 1.10901 20 0.931014 20 0.752014C20 0.333014 19.662 0.00201416 19.251 0.00201416C19.045 0.00201416 18.84 0.0860142 18.692 0.251014L7.961 12.196L1.25 6.20201C1.106 6.07501 0.928 6.01201 0.75 6.01201C0.333 6.01201 0 6.34801 0 6.76101C0 6.96701 0.084 7.17301 0.25 7.32101Z%27 fill=%27white%27/%3E%3C/svg%3E%0A");
  padding-right: 1.0625rem;
}

.facilities__item:not(:last-child) {
  margin-bottom: 0.75rem;
}

.meet__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.875rem;
}

.meet__content {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.meet__label:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.meet__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.meet__image-ibg {
  max-width: 100%;
  height: auto;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.bottom-main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bottom-main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 46.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.bottom-main__label {
  text-align: center;
}

.bottom-main__label:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.bottom-main__title {
  text-align: center;
}

.bottom-main__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.bottom-main__text {
  text-align: center;
}

.bottom-main__text:not(:last-child) {
  margin-bottom: 1.875rem;
}

._watcher-view {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

@media (min-width: 71.25em) {
  .label_big {
    font-size: 1.125rem;
  }

  .title_big {
    font-size: 4rem;
  }

  .text_big {
    font-size: 1.5rem;
  }

  .title {
    font-size: 2.25rem;
  }

  .text {
    font-size: 1.125rem;
  }

  .footer__container {
    padding-top: 2.5625rem;
  }

  .footer__container {
    padding-bottom: 2.5625rem;
  }

  .main__container {
    padding-bottom: 11.375rem;
  }

  .main__logo:not(:last-child) {
    margin-bottom: 7.8125rem;
  }

  .main__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .benefits__container {
    padding-top: 3.75rem;
  }

  .benefits__container {
    padding-bottom: 3.75rem;
  }

  .benefits__items {
    row-gap: 3.75rem;
  }

  .benefits__title {
    font-size: 2.25rem;
  }

  .benefits__text h3 {
    font-size: 2.25rem;
  }

  .benefits__text p {
    font-size: 1.5rem;
  }

  .facilities__container {
    padding-top: 10.25rem;
  }

  .facilities__container {
    padding-bottom: 3.75rem;
  }

  .meet__container {
    padding-top: 11.25rem;
  }

  .meet__container {
    padding-bottom: 3.75rem;
  }

  .meet__container {
    -webkit-column-gap: 7.8125rem;
       -moz-column-gap: 7.8125rem;
            column-gap: 7.8125rem;
  }

  .bottom-main__container {
    padding-top: 4.9375rem;
  }

  .bottom-main__container {
    padding-bottom: 5rem;
  }
}

@media (max-width: 20em) {
  .label_big {
    font-size: 0.875rem;
  }

  .title_big {
    font-size: 1.5rem;
  }

  .text_big {
    font-size: 1rem;
  }

  .title {
    font-size: 1.375rem;
  }

  .text {
    font-size: 0.875rem;
  }

  .footer__container {
    padding-top: 1.25rem;
  }

  .footer__container {
    padding-bottom: 1.25rem;
  }

  .main__container {
    padding-bottom: 1.875rem;
  }

  .main__logo:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .main__text:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .benefits__container {
    padding-top: 1.875rem;
  }

  .benefits__container {
    padding-bottom: 1.875rem;
  }

  .benefits__items {
    row-gap: 1.875rem;
  }

  .benefits__title {
    font-size: 1.5rem;
  }

  .benefits__text h3 {
    font-size: 1.5rem;
  }

  .benefits__text p {
    font-size: 1rem;
  }

  .facilities__container {
    padding-top: 3.75rem;
  }

  .facilities__container {
    padding-bottom: 1.875rem;
  }

  .meet__container {
    padding-top: 3.75rem;
  }

  .meet__container {
    padding-bottom: 1.875rem;
  }

  .meet__container {
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }

  .bottom-main__container {
    padding-top: 1.5625rem;
  }

  .bottom-main__container {
    padding-bottom: 1.5625rem;
  }
}

@media (max-width: 61.99875em) {
  .facilities__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .meet__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 29.99875em) {
  .footer__logo {
    width: 1.75rem;
  }
}

@media (min-width: 20em) and (max-width: 71.25em) {
@supports (font-size: clamp( 0.875rem , 0.7774390244rem  +  0.487804878vw , 1.125rem )) {
    .label_big {
      font-size: clamp( 0.875rem , 0.7774390244rem  +  0.487804878vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7774390244rem  +  0.487804878vw , 1.125rem )) {
    .label_big {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 1.5rem , 0.5243902439rem  +  4.8780487805vw , 4rem )) {
    .title_big {
      font-size: clamp( 1.5rem , 0.5243902439rem  +  4.8780487805vw , 4rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 0.5243902439rem  +  4.8780487805vw , 4rem )) {
    .title_big {
      font-size: calc(1.5rem + 2.5 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 1rem , 0.8048780488rem  +  0.9756097561vw , 1.5rem )) {
    .text_big {
      font-size: clamp( 1rem , 0.8048780488rem  +  0.9756097561vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8048780488rem  +  0.9756097561vw , 1.5rem )) {
    .text_big {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 1.375rem , 1.0335365854rem  +  1.7073170732vw , 2.25rem )) {
    .title {
      font-size: clamp( 1.375rem , 1.0335365854rem  +  1.7073170732vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.0335365854rem  +  1.7073170732vw , 2.25rem )) {
    .title {
      font-size: calc(1.375rem + 0.875 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7774390244rem  +  0.487804878vw , 1.125rem )) {
    .text {
      font-size: clamp( 0.875rem , 0.7774390244rem  +  0.487804878vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7774390244rem  +  0.487804878vw , 1.125rem )) {
    .text {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.737804878rem  +  2.5609756098vw , 2.5625rem )) {
    .footer__container {
      padding-top: clamp( 1.25rem , 0.737804878rem  +  2.5609756098vw , 2.5625rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.737804878rem  +  2.5609756098vw , 2.5625rem )) {
    .footer__container {
      padding-top: calc(1.25rem + 1.3125 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.737804878rem  +  2.5609756098vw , 2.5625rem )) {
    .footer__container {
      padding-bottom: clamp( 1.25rem , 0.737804878rem  +  2.5609756098vw , 2.5625rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.737804878rem  +  2.5609756098vw , 2.5625rem )) {
    .footer__container {
      padding-bottom: calc(1.25rem + 1.3125 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -1.8323170732rem  +  18.5365853659vw , 11.375rem )) {
    .main__container {
      padding-bottom: clamp( 1.875rem , -1.8323170732rem  +  18.5365853659vw , 11.375rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -1.8323170732rem  +  18.5365853659vw , 11.375rem )) {
    .main__container {
      padding-bottom: calc(1.875rem + 9.5 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 0.4268292683rem  +  10.3658536585vw , 7.8125rem )) {
    .main__logo:not(:last-child) {
      margin-bottom: clamp( 2.5rem , 0.4268292683rem  +  10.3658536585vw , 7.8125rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 0.4268292683rem  +  10.3658536585vw , 7.8125rem )) {
    .main__logo:not(:last-child) {
      margin-bottom: calc(2.5rem + 5.3125 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem )) {
    .main__text:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.5716463415rem  +  1.8292682927vw , 1.875rem )) {
    .main__text:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
    .benefits__container {
      padding-top: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
    .benefits__container {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
    .benefits__container {
      padding-bottom: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
    .benefits__container {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 51.25);
    }
}

@supports (row-gap: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
    .benefits__items {
      row-gap: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem );
    }
}

@supports not (row-gap: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
    .benefits__items {
      row-gap: calc(1.875rem + 1.875 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 1.5rem , 1.2073170732rem  +  1.4634146341vw , 2.25rem )) {
    .benefits__title {
      font-size: clamp( 1.5rem , 1.2073170732rem  +  1.4634146341vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.2073170732rem  +  1.4634146341vw , 2.25rem )) {
    .benefits__title {
      font-size: calc(1.5rem + 0.75 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 1.5rem , 1.2073170732rem  +  1.4634146341vw , 2.25rem )) {
    .benefits__text h3 {
      font-size: clamp( 1.5rem , 1.2073170732rem  +  1.4634146341vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.2073170732rem  +  1.4634146341vw , 2.25rem )) {
    .benefits__text h3 {
      font-size: calc(1.5rem + 0.75 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 1rem , 0.8048780488rem  +  0.9756097561vw , 1.5rem )) {
    .benefits__text p {
      font-size: clamp( 1rem , 0.8048780488rem  +  0.9756097561vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8048780488rem  +  0.9756097561vw , 1.5rem )) {
    .benefits__text p {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 3.75rem , 1.2134146341rem  +  12.6829268293vw , 10.25rem )) {
    .facilities__container {
      padding-top: clamp( 3.75rem , 1.2134146341rem  +  12.6829268293vw , 10.25rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 1.2134146341rem  +  12.6829268293vw , 10.25rem )) {
    .facilities__container {
      padding-top: calc(3.75rem + 6.5 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
    .facilities__container {
      padding-bottom: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
    .facilities__container {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 3.75rem , 0.8231707317rem  +  14.6341463415vw , 11.25rem )) {
    .meet__container {
      padding-top: clamp( 3.75rem , 0.8231707317rem  +  14.6341463415vw , 11.25rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 0.8231707317rem  +  14.6341463415vw , 11.25rem )) {
    .meet__container {
      padding-top: calc(3.75rem + 7.5 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
    .meet__container {
      padding-bottom: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
    .meet__container {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 51.25);
    }
}

@supports ((-moz-column-gap: clamp( 3.75rem , 2.1646341463rem  +  7.9268292683vw , 7.8125rem )) or (column-gap: clamp( 3.75rem , 2.1646341463rem  +  7.9268292683vw , 7.8125rem ))) {
    .meet__container {
      -webkit-column-gap: clamp( 3.75rem , 2.1646341463rem  +  7.9268292683vw , 7.8125rem );
         -moz-column-gap: clamp( 3.75rem , 2.1646341463rem  +  7.9268292683vw , 7.8125rem );
              column-gap: clamp( 3.75rem , 2.1646341463rem  +  7.9268292683vw , 7.8125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 3.75rem , 2.1646341463rem  +  7.9268292683vw , 7.8125rem )) or (column-gap: clamp( 3.75rem , 2.1646341463rem  +  7.9268292683vw , 7.8125rem ))) {
    .meet__container {
      -webkit-column-gap: calc(3.75rem + 4.0625 * (100vw - 20rem) / 51.25);
         -moz-column-gap: calc(3.75rem + 4.0625 * (100vw - 20rem) / 51.25);
              column-gap: calc(3.75rem + 4.0625 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 1.5625rem , 0.2454268293rem  +  6.5853658537vw , 4.9375rem )) {
    .bottom-main__container {
      padding-top: clamp( 1.5625rem , 0.2454268293rem  +  6.5853658537vw , 4.9375rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 0.2454268293rem  +  6.5853658537vw , 4.9375rem )) {
    .bottom-main__container {
      padding-top: calc(1.5625rem + 3.375 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 0.2210365854rem  +  6.7073170732vw , 5rem )) {
    .bottom-main__container {
      padding-bottom: clamp( 1.5625rem , 0.2210365854rem  +  6.7073170732vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 0.2210365854rem  +  6.7073170732vw , 5rem )) {
    .bottom-main__container {
      padding-bottom: calc(1.5625rem + 3.4375 * (100vw - 20rem) / 51.25);
    }
}
}

@media (any-hover: hover) {
  .membership-link:hover {
    background-color: #dd403d;
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
  }

  .footer__social-link svg:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.webp .page__main{ background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.78)), to(rgba(0, 0, 0, 0.87))), url(../img/bg.webp) 50%/cover no-repeat; }

.webp .page__main{ background: -o-linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.87)), url(../img/bg.webp) 50%/cover no-repeat; }

.webp .page__main{ background: linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.87)), url(../img/bg.webp) 50%/cover no-repeat; }

.webp .page__bottom{ background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.78)), to(rgba(0, 0, 0, 0.87))), url(../img/bottom-bg.webp) 50%/cover no-repeat; }

.webp .page__bottom{ background: -o-linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.87)), url(../img/bottom-bg.webp) 50%/cover no-repeat; }

.webp .page__bottom{ background: linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.87)), url(../img/bottom-bg.webp) 50%/cover no-repeat; }